@Styles.Render("~/Content/Site.css")
@Scripts.Render("~/Scripts/Campanias/Fondos.js")
<div class="panel panel-primary" id="FONDOS">
    <div class="panel-heading" id="HeadingFondos">
        <div class="panel-title">
            &nbsp;
            <div class="pull-left">
                ABANICO INVERSIONES
                @*<button class="boton-guardar" id="OpenScriptPagare" title="Abrir script de pagare" hidden>
                        <span class="glyphicon glyphicon-open-file" style="color: white"></span>
                    </button>*@
            </div>
            <div class="pull-right">
                <h4 class="panel-title">
                    <span style="color: white" id="EstadoFondos"></span>
                    &nbsp;
                    <label id="lblFondo"> ES VENTA? :</label>
                    <input type="checkbox" id="check_fondos" onchange="check_val_fondos()" />

                    <label id="CalificadoFondo" hidden>
                        <span class="glyphicon glyphicon-ok" style="color: white" title="Calificado"></span>
                    </label>
                    <button class="boton-guardar" id="SaveCalifFondos">
                        <span class="glyphicon glyphicon-list-alt" style="color: white" title="Calificar"></span>
                    </button>
                    <button class="boton-guardar" id="ValidarFondos" data-toggle="modal" data-target="#modalFondos" hidden>
                        <span class="glyphicon glyphicon-ok" style="color: white" title="Validar"></span>
                    </button>
                    <button class="boton-guardar" id="SaveFondos">
                        <span class="glyphicon glyphicon-floppy-disk" style="color: white" title="Guardar"></span>
                    </button>
                    <a data-toggle="collapse" href="#collapseFondos" class="pull-right" data-parent="#acordion">
                        <span class="glyphicon glyphicon-chevron-up" id="iconSix"></span>
                    </a>
                </h4>
            </div>
        </div>
    </div>


    <div id="collapseFondos" class="collapse panel-collapse">
        <form action="/" method="post">

            <div class="panel-body" id="panelCalificacionFONDO">
                <div class="row" id="comboCalif">
                    <div class="col-md-4">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="control-label">Seleccione calificacion:</label>
                                <select class="form-control" id="comboFondoCalif">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel-body" id="panelFondo" hidden>
                <input type="hidden" id="IdFondos" />
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="control-label">Folio:</label>
                                <input type="text" placeholder="Folio" class="form-control" id="FolioFondos" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="control-label">Seleccione tipo de venta:</label>
                                <select class="form-control" id="selectVenta_Fondos" onchange="CambiarTipoVenta_Fondos()">
                                    <option selected value="0">Seleccione...</option>
                                    <option value="App">App</option>
                                    <option value="Digital">Digital</option>
                                    <option value="Sucursal">Sucursal</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="control-label">Seleccione tipo de inversión:</label>
                                <select class="form-control" id="selectTipoInversion" />
                                <option selected value="0">Seleccione...</option>
                                <option value="FondoInversion">Fondo Inversion</option>
                                <option value="Pagare">Pagaré</option>
                                <option value="Fondos/Pagare">Ambos</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-5">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label class="control-label">Tipo de Inversion:</label><br />
                                    <input type="checkbox" id="chkFondo" />Fondo Inversion
                                    <input type="checkbox" id="chkPagare" />Pagare
                                </div>
                            </div>
                        </div>*@
                </div>
                <div class="row">
                    <div id="Div_Suc_Fondos_1" hidden>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label class="control-label">Estado:</label>
                                    <select class="form-control" id="EstadoSucursalFondos">
                                        <option value="value">Selecciona estado de sucursal</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label class="control-label">Municipio:</label>
                                    <select class="form-control" id="MunicipioSucursalFondos">
                                        <option value="value">Selecciona municipio de sucursal</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label class="control-label">Sucursal:</label>
                                    <input type="text" placeholder="Sucursal" class="form-control" id="NMSucursalFondos" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="Div_Suc_Fondos_2" hidden>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label class="control-label">Número sucursal:</label>
                                    <div class="input-group">
                                        <input type="text" placeholder="Numero Sucursal" class="form-control" id="NumeroSucursalFondos" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-info" type="button" id="DetalleSucursalFondos">
                                                <span class="glyphicon glyphicon-zoom-in"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label class="control-label">Fecha vicita sucursal:</label>
                                    <input type="text" placeholder="Fecha vicita sucursal" class="form-control" id="FechaVicitaSucursalFondos" readonly />

                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label class="control-label">División:</label>
                                    <input type="text" placeholder="División" class="form-control" id="DivisionFondos" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label class="control-label">Regional:</label>
                                    <input type="text" placeholder="Regional" class="form-control" id="RegionalFondos" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div id="FondosCat"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modalFondos" tabindex="-1" role="dialog" aria-labelledby="myModalLabelFondos" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Ingresar como validador</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="UserName">User name:</label>
                                    <input type="text" class="form-control" id="UserFondos" placeholder="Enter your user name" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="Password">Password:</label>
                                    <input type="password" class="form-control" id="PasswordFondos" placeholder="Enter your user password" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="Password">Status sale:</label>
                                    <select class="form-control" id="StatusSaleFondos"></select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="ValidateFondos" data-dismiss="modal">Continuar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalSucursales_Fondos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 class="modal-title">Seleccione una sucursal</h3>
            </div>

            <div class="modal-body modal-body1">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-responsive">
                            <thead class="btn-primary">
                                <tr id="headerTableSucursal">
                                    <th class="small">SIRH</th>
                                    <th class="small">NOMBRE DISP</th>
                                    <th class="small">DIVISION</th>
                                    <th class="small">DIRECCION</th>
                                    <th class="small">DOMICILIO</th>
                                    <th class="small">COLONIA</th>
                                    <th class="small">CALLE 1</th>
                                    <th class="small">CALLE 2</th>
                                    <th class="small">DELEG_MUNIC</th>
                                    <th class="small">LUN - VIE AP</th>
                                    <th class="small">LUN - VIE CIE</th>
                                </tr>
                            </thead>
                            <tbody id="bodyTableSuc_Fondos"></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>

</div>